.Wrap {}



/* { topBanner : lee 2022.03.17 최종수정 */


    .topBannner1 {
        padding: 2px 0;
        background: #333;
    }
    
    .topBannner1 .container1 {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        padding: 0 5px;
    
    }
    
    .topBannner1 .container1 h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 1000;
        letter-spacing: 0.040em;
        color:#fff;
        font-family: "Open Sans",Noto-lang-Regular,NotoKR-Regular,"Malgun Gothic",sans-serif;
        transform: translateY(25%);
    }
    
    .topBannner1 .container1 p {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.025em;
    }
    
    .topBannner1 .container1 a {
        position: absolute;
        top: 0;
        right: 31%;
        margin-left: 20px;
        padding: 3px 20px;
        border: 1px solid #c7bbb4;
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        color: #c7bbb4;
        transform: translateY(10%);
    }
    
    .topBannner1 .container1 i {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color:#fff;
        padding: 0 5px;
        
    }












.topBannner {
    padding: 24px 0;
    background: #f3f3f3;
}

.topBannner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.topBannner .container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.040em;
    color:#998465;
    font-family: "Open Sans",Noto-lang-Regular,NotoKR-Regular,"Malgun Gothic",sans-serif;
}

.topBannner .container p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.topBannner .container a {
    margin-left: 20px;
    padding: 3px 20px;
    border: 1px solid #333;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.topBannner .container i {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/*  topBanner : lee 2022.03.17 최종수정 }  */









/* { header : lee 2022.03.17 최종수정  */

.headerWrap {}

.headerWrap .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}


.headerWrap .container>* {
    padding: 0 15px;
}

.headerWrap .searchForm {
    margin-left: auto;
}

.gnb {}

.gnb>ul {
    display: flex;
    
}

.gnb>ul>li {
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    
}

.gnb>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 2px;
    height: 13px;
    background: #333;
}

/* .gnb>ul>li:nth-child(1):after {
    display:none;
} */

.headerWrap .searchForm input[type="search"] {
    padding: 3px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}

.headerWrap .searchForm input[type="search"]::placeholder {
    color: rgb(177, 178, 250);
    font-size: 13px;
}

.headerWrap .searchForm input[type="search"]:focus::placeholder {
    color: transparent;
}

.headerWrap .searchForm button {
    outline: none;
    border: none;
    background: transparent;
}

.headerWrap .searchForm button i {
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 10px;
    border-radius: 50%;
}

/* header : kim 2022.03.17 최종수정 } */












/* { mainVisual : kim 2022.03.17 최종수정  */
.mainVisual .visualSlide {
    border-top: 1px solid #ddd;
}

.mainVisual .visualSlide figure {
    position: relative;
    height: 600px;
}

.mainVisual .visualSlide figure i {
    position: absolute;
    top: 100px;
    right: 200px;

    font-size: 100px;
    color: #f00;

    opacity: 0;
    transition: 0.5s;
}

.mainVisual .visualSlide figure.oo i {
    opacity: 1;
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }

}

.mainVisual .visualSlide .msLeft {
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 999;

    border-top: 100px solid #fff;
    border-left: 100px solid transparent;

    transform: translateY(-50%) rotate(-135deg);

}


.mainVisual .visualSlide .msLeft.oo {
    border-top: 100px solid #333;
}

.mainVisual .visualSlide .msRight {
    position: absolute;
    top: 50%;
    right: 200px;
    width: 200px;
    height: 200px;

    border-top: 1px solid #fff;
    border-left: 1px solid #fff;

    transform: translateY(-50%) rotate(135deg) rotateY(45deg);
}


.mainVisual .visualSlide figure .inner {
    width: 1200px;
    margin: 300px auto 0 auto;
    padding: 0 15px;
    color: #fff;
}

.mainVisual .visualSlide figure.itm02 .inner {

}

.mainVisual .visualSlide figure .inner h3 {
    opacity: 0;
    transform: translateY(100px);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 0 0 2px #333;
    transition: 1s 0.5s;
}

.mainVisual .visualSlide figure .inner p {
    opacity: 0;
    transform: translateY(100px);
    font-size: 15px;
    font-weight: 300;
    transition: 1s 1s;
}

.mainVisual .visualSlide figure.oo .inner h3 {
    opacity: 1;
    transform: translateY(0);
}

.mainVisual .visualSlide figure.oo .inner p {
    opacity: 1;
    transform: translateY(0);
}


.mainVisual .visualSlide .itm01 {
    background: url(../images/visual1.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .itm02 {
    background: url(../images/visual2.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .itm03 {
    background: url(../images/visual3.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
}

.mainVisual .visualSlide .slick-dots li {
    width: 100px;
    height: 5px;
    background: #333;
    transition: 2s;
}

.mainVisual .visualSlide .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: #f00;
}

.mainVisual .visualSlide .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.mainVisual .visualSlide .slick-dots li.slick-active {
    background: #fff;
}

.mainVisual .visualSlide .slick-dots button {
    display: none;
}

/* mainVisual : kim 2022.03.17 최종수정 } */










/* { mainProduct : kim 2022.03.17 최종수정 */

.mainProduct {
    padding: 100px 0;
    text-align: center;
}

.mainProduct h2 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
    color: #998465;
    font-family: "Open Sans",Noto-lang-Regular,NotoKR-Regular,"Malgun Gothic",sans-serif;
}

.mainProduct p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
    line-height: -30px;
}

.mainProduct .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.mainProduct .container figure {
    position: relative;
    flex: 1;
    padding: 0 15px;
}

.mainProduct .container figure .inner {
    margin-bottom: 15px;
}

.mainProduct .container figure strong {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "Open Sans Bold",Noto-lang-Bold,"Malgun Gothic",sans-serif;
    color:#998565;
}

.mainProduct .container figure p {
    font-size: 14px;
}

.mainProduct .container figure a {
    display: inline-block;
    padding: 10px 30px;
    background: #998465;
    color: #fff;
    font-size: 13px;
}

.mainProduct .container figure a:hover {
    background: #ddd;
    color: #333;
}

.mainProduct .inner {
    overflow: hidden;
}

.mainProduct .inner img {
    transition: 0.5s;
}

.mainProduct .inner:hover img {
    transform: scale(1.5);
}

.mainProduct .container figure .label {
    position: absolute;
    top: -10px;
    right: 0;

    border-top: 10px solid #f00;
    border-left: 50px solid #f00;
    border-bottom: 10px solid #f00;
    border-right: 10px solid transparent;
}

.mainProduct .container figure .label span {
    position: absolute;
    top: -7px;
    left: -38px;
    color: #fff;

    font-size: 14px;
}

/* mainProduct : kim 2022.03.17 최종수정 } */









.eventBanner {
    padding: 100px 0;
    background: url(../images/eventBanner1.jpg) no-repeat fixed center center/cover;
    text-align: center;
    color: #fff;
    filter: grayscale(1);
}

.eventBanner h2 {
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
}

.eventBanner p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.eventBanner i {
    padding: 7px;
    background: #333;
    border-radius: 50%;
    margin-left: 15px;
}







.evenetProduct {
    padding: 100px 0;
 
}

.evenetProduct .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
   
}

.evenetProduct .container>div {
    padding: 0 15px;
    text-align: center;
}

.evenetProduct .left {
    width: 40%;
}

.evenetProduct .eProductSlide {
    padding: 5px;
    border: 5px solid #ddd;
}

.evenetProduct .right {
    display: flex;
    align-items: center;
    width: 60%;
    
}


.evenetProduct h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
    color: #998465;
    font-family: "Open Sans Bold",Noto-lang-Bold,"Malgun Gothic",sans-serif;
    

}

.evenetProduct p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
    line-height: 1.4;
}

.evenetProduct i {
    padding: 13px;
    background: #333;
    color: #fff;
    border-radius: 7px;
    margin: 0 5px;
}










.allProduct {
    position: relative;
    padding: 100px 0;
    text-align: center;
    background: #f2f2f2;
}


.allProduct h2 {
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
    color: #998465;
    font-family: "Open Sans",Noto-lang-Regular,NotoKR-Regular,"Malgun Gothic",sans-serif;
}

.allProduct p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
    font-family: "Open Sans",Noto-lang-Regular,NotoKR-Regular,"Malgun Gothic",sans-serif;
}

.allProduct .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.allProduct .aproductSlide figure {
    padding: 0 15px;
}


.allProduct .inner {
    margin-bottom: 20px;
}

.allProduct .inner+strong {
    display: block;
    margin-bottom: 20px;

    font-size: 13px;
    font-weight: 300;
}

.allProduct .slick-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.allProduct .slick-dots li {
    width: 13px;
    height: 13px;
    background: #333;
    border-radius: 50%;
}

.allProduct .slick-dots li.slick-active {
    background: #f00;
}

.allProduct .slick-dots li button {
    display: none;
}

.allProduct i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    font-size: 30px;
    color: #fff;
    background: #333;
}

.allProduct i:first-child {
    margin-left: -700px;
}

.allProduct i:last-child {
    margin-left: 700px;
}










.movieBg {
    padding: 200px 0;
    background: #000;
    filter: grayscale(1);


    color: #fff;
    text-align: center;
}

.movieBg h3 {
    color: #998465;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 0.20em;
    margin-bottom: 10px;
    font-family: 'NotoSans-Bold', '맑은 고딕', 'Malgun Gothic', sans-serif;
}

.movieBg p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 30px;
}

.movieBg i {
    font-size: 20px;
    padding: 10px;
    background: #333;
    border-radius: 10px;
}
















.customerArea {
    padding: 100px 0;
    background: #f2f2f2;
}

.customerArea .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

.customerArea .container>div {
    position: relative;
    flex: 1;
    padding: 0 15px;
}

.customerArea .container>div i {
    position: absolute;
    top: 20%;
    right: 20%;

    font-size: 100px;
    color: #f00;

    opacity: 0;
    transition: 0.5s;
}

.customerArea .container>div.oo i {
    opacity: 1;
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }

}




.customerArea .container>div .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: yellowgreen;
    border: 3px solid yellowgreen;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.customerArea .container>div:hover {
    background: #fff;
    border: 3px solid yellowgreen;
    border-radius: 30px;
    color: yellowgreen;

}

.customerArea .container>div img {
    filter: grayscale(1);
    transform: 0.5s;
}

.customerArea .container>div:hover img {
    filter: grayscale(0);
}

.customerArea .tabMenu {
    display: flex;
}

.customerArea .tabMenu>li {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.customerArea .tabMenu>li.oo {
    background: #369;

}

.customerArea .tabMenu>li~li {
    border-left: 1px solid #fff;
}


.customerArea .tabContent>div {
    display: none;
}

.customerArea .tabContent>div.oo {
    display: block;
}

.customerArea .tabContent a {
    display: flex;
    justify-content: space-between;
    padding: 10px 3px;
    border: 1px solid #ddd;
}

.customerArea .tabContent strong {
    display: block;
    width: 400px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.customerArea .tabContent .mainVisual .visualSlide figure {
    position: relative;
    height: 600px;
}




.footerWrap {
    background: #333;
    color: #f2f2f2;
    line-height: 60px;
}

.footerWrap .top {
    border-bottom: 1px solid #666;
}

.footerWrap .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footerWrap .container>dl {
    display: flex;
    padding: 0 15px;
    gap: 40px;
}

.footerWrap .container dd {
    position: relative;
}

.footerWrap .container dd:before {
    content: "";

    position: absolute;
    top:50%;
    left: -20px;

    display: block;
    width: 1px;
    height: 13px;
    background: #f2f2f2;

    transform: translateY(-50%);
}

.footerWrap .container>div {
    padding: 0 15px;
    font-size: 20px;
}

.footerWrap .bottom {
    padding-bottom: 50px;
}

.footerWrap .container>* {
    padding: 0 15px;
}

.footerWrap .link select {
    background: #333;
    font-size: 15px;
    padding: 4px 10px;
    outline: none;
    border: none;
    border: 2px solid #f2f2f2;
}







.popup01 {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    padding: 30px;
    background: rgba(255,255,255,0.5);
    text-align: center;
}

.popup01 .notice-cont {
    margin: 50px 0;
    
}

.popup01 .notice-cont p {
    color: #333;
    margin-top: 5%;
    font-size: 17px;
  

}

.popup01 .notice-subcopy {
    font-size: 12px;
}

.popup01 img {
    width: 400px;
}


.popup01 .notice-button {
    height: 50px;
    margin-right: 100px;
}

.popup01 .notice-button button {
    position: absolute;
    margin-bottom: 15px;
    bottom: 10px;
    width: 100px;
    height: 30px;
    outline: none;
    border: 1px solid #333;
    background: #f00;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.popup01 .notice-button i {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 24px;
    cursor: pointer;
    color:#333;
    padding: 0 5px;
    
}



